
/** **************************************************************** **

    @Author:    Rapić Milan
    @Project:   Movie Catalog


    Table contents
    ----------------------
    01. Common
    02. Main
    03. MassAutocomplete


    ----------------------


 ** **************************************************************** **/





/** **************************************************************** **

    01. Common

 ** **************************************************************** **/

html {
    overflow-x:         	hidden;
    overflow-y:             auto;
}

html,
body {
    min-height:             100%;
    height:                 100%;
}

body {
    background:             #DDDDDD;
    font-family:            'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight:             300;
}

a {
    text-decoration:        none;
    color:                  inherit;
}

.noselect {
    -webkit-touch-callout:  none;
      -webkit-user-select:  none;
       -khtml-user-select:  none;
         -moz-user-select:  none;
          -ms-user-select:  none;
              user-select:  none;
}

.img-responsive {
    max-width:              100%;
    height:                 auto;

    -webkit-transition:     all 0.3s ease;
       -moz-transition:     all 0.3s ease;
            transition:     all 0.3s ease;
}

.text-center {
    text-align:             center;
}

.hide {
    display:                none;
}

.show{
    display:                block !important;
}




/** **************************************************************** **

    02. Main

 ** **************************************************************** **/

 .wrapper {
    width:                  100%;
    margin:                 30px auto;
    background:             #fafafa;
    border:                 1px solid #cccccc;
    min-height:             200px;
    padding-bottom:         30px;
 }



.search-bar h1 {
    text-align:             center;
    margin:                 0;
    padding:                40px 0 30px 0;
    font-size:              1.5em;
}

.search-bar input {
    width:                  80%;
    margin:                 auto;
    display:                block;
}

.search-details {
    display:                none;
}

.search-details h2, h3 {
    text-align:             center;
}

.search-details img {
    display:                block;
    margin:                 auto;
}


@media screen and (min-width: 700px) {
    .wrapper {
        width:              600px;
        padding:            20px;
    }

    .search-bar h1 {
        font:               2em;
    }

    .search-bar input {
        width:              400px;
        padding-left:       5px;
        height:             30px;
    }
}









/** **************************************************************** **

    03. MassAutocomplete

 ** **************************************************************** **/


.ac-container {
    z-index: 999;
    
    -webkit-backface-visibility:    hidden;
       -moz-backface-visibility:    hidden;
        -ms-backface-visibility:    hidden;
         -o-backface-visibility:    hidden;
            backface-visibility:    hidden;

    -webkit-transform:      translate3d(0, 0, 0);
       -moz-transform:      translate3d(0, 0, 0);
        -ms-transform:      translate3d(0, 0, 0);
         -o-transform:      translate3d(0, 0, 0);
            transform:      translate3d(0, 0, 0);
  
}
.ac-container .ac-menu {
    border:                 1px solid #ccc;
    list-style:             none;
    padding:                0;
    background-color:       white;
    box-shadow:             0 3px 7px 0px rgba(0, 0, 0, 0.15);
    margin:                 0;
}
.ac-container .ac-menu .ac-menu-item {
    border-bottom:          1px dotted #ccc;
    line-height:            35px;
    margin:                 0;
}
.ac-container .ac-menu .ac-menu-item:last-child {
    border-bottom:          0;
}
.ac-container .ac-menu .ac-menu-item:hover {
    background-color:       #e0eaff;
}
.ac-container .ac-menu a {
    padding-left:           5px;
    display:                block;
    color:                  inherit;
    text-decoration:        none;
}
.ac-container .ac-menu .ac-state-focus {
    outline:                none;
    background-color:       #e0eaff;
}


/** **************************************************************** **/