<!doctype html>
<html lang="en" ng-app="app">
<head>
	    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="Movie Catalog">
	    <meta name="keywords" content="Movie, Catalog">
	    <meta name="author" content="Rapić Milan | Freelance Software Developer | rapic.milan@gmail.com">
	    <title>Movie Catalog</title>
	    <link rel="shortcut icon" href="img/favicon.ico" />
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	    <link rel="stylesheet" href="css/main.css" />

	    <!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>
<body ng-controller="CatalogController as catalog">

    <div class="wrapper">
        <div class="search-bar">
            <header>
                <h1>Movie Catalog</h1>
            </header>
            <div mass-autocomplete>
                <input ng-model="catalog.searchTerm.value"
                       mass-autocomplete-item="catalog.autocomplete_options"
                       ng-change="catalog.onInputChange()">
            </div>
        </div>
        <div class="search-details" ng-class="{ 'show': catalog.showDetails}">
            <div>
                <h2>{{catalog.selected.Title}}</h2>
            </div>
            <div>
                <h3>{{catalog.selected.Year}}</h3>
            </div>
            <div class="poster" ng-if="catalog.selected.Poster != 'N/A'">
                <a id="websitelink" href="{{catalog.website}}">
                    <img ng-src="{{catalog.selected.Poster}}" alt="{{catalog.selected.Title}}" class="img-responsive"> 
                </a>
            </div>
        </div>
    </div>

    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-sanitize.min.js"></script>
    <script src="js/vendor/massautocomplete.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>